<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>
<div class="modbox" id="l_blog">
  <ul>
    <li class="ctitle"><%= @entry.title %>
    <% if logged_in_user == @user %>
      <%= link_to 'edit', edit_user_entry_path(:id => @entry)%> 
      | <%= link_to 'delete', user_entry_path(:id => @entry), :method => :delete, :confirm => '确认要删除这篇文章?' %>
    <% end %>
    </li>
    <li class="ctime"><%= @entry.created_at.strftime("%Y-%m-%d %H-%m") %>
    </li>
    <li class="dcon"><%= @entry.content %></li>
    <li class="dmore">分类：<%= link_to "暂无" %> | 浏览() |  评论() |
    </li>
  </ul>
  <div id="review">
    <div>
      <% @comments.each do |comment|%>
        <ul>
          <li class="r_img"><%= image_tag(comment.user.avatar.public_filename(:tiny))%></li>
          <li class="user"><%= link_to comment.user.username %> [<%= comment.created_at.strftime("%Y-%m-%d %H-%m") %>]
          <% if logged_in_user == @entry.user %>
            [<span style="color: rgb(153, 153, 153); cursor: pointer;"><%= link_to '删除' , user_entry_comment_path(:entry_id => @entry, :id => comment.id), :method => :delete, :confirm => "Do you sure to delete?"%></span>]
          <% end %></li>

          <li class="rcon"><%= comment.content %></li><li class="clear">&nbsp;</li>
        </ul>
      <% end %>
    </div>
  </div>
  <% form_for :comment, :url => user_entry_comments_path(:entry_id => @entry.id) do |f|%>
    <ul id="addreview">
      <li class="addtitle">添加评论</li>
      <li>已登录:<%= logged_in_user.username %></li>
      <li>
      <%= f.text_area :content, :rows => 10, :cols => 30%>
      </li> 
      <li>
      <%= submit_tag '提交评论', :class => 'button' %>
      <input name="switch" id="logid" value="entry" type="hidden">
      </li> 
    </ul>
  <% end %>
  <div class="clear"></div>
</div>
