<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>
<div class="modbox" id="l_blog">
  <ul>
    <li class="ctitle"><%= @entry.title %>
    <% if logged_in_user == @user %>
      <%= link_to 'edit', edit_user_entry_path(:id => @entry)%> 
      | <%= link_to 'delete', user_entry_path(:id => @entry), :method => :delete, :confirm => '确认要删除这篇文章?' %>
    <% end %>
    </li>
    <li class="ctime"><%= @entry.created_at %>
    </li>
    <li class="dcon"><%= @entry.content %></li>
    <li class="dmore">分类：<%= link_to @entry.entry_category.name %> | 浏览() |  评论() | <a href="#" onclick="fav(23787,1);return false;">推荐到圈子</a></li>
    <li>
    <p class="goodup"><a href="#" onclick="fav(23787);this.innerHTML='已顶'; this.onclick=function(){return false;};return false;">已顶</a></p>
    </li>
    <li class="dnext"><p class="ta">上一篇：« <a href="blog.php?tid=24278" title="放假啦。。"></a></p><p class="tb">下一篇：<a href="blog.php?tid=23786" title="新年到。。"></a></p></li>
  </ul>
